<%= form_tag("/search", method: "get") do %>
  <div class="homepage">
    <div class="homepage_buttons">
      <%= select_tag 'category', options_from_collection_for_select(@categories, 'id', 'name'), class: 'myButton' %>
    </div>
    <div class="homepage_buttons">
      <%= select_tag 'location', options_from_collection_for_select(@locations, 'id', 'name'), class: 'myButton' %>
    </div>
  </div>

  <div id="findButton"><%= submit_tag("Find", class: 'myButton') %></div>
<% end %>
