<br>
<button type="button" class="btn btn-default" id="add">+ Appointment</button>
<br>
<br>
<div id = "calendar"></div>
<%= link_to 'Back', merchants_path %>


<script type="text/javascript" src="js/language/xx-XX.js"></script>
<%= stylesheet_link_tag "application-print", :media => "print" %>