<table class="table table-hover">
  <tbody>
    <% @merchants.each do |m| %>
      <tr>
        <td><%= m.name %>
        <br><%= m.address %></td>
        <td><br><%= "*****" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
