/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: "gitchgitch";
  src: url('gitchgitch.ttf') format('truetype');
}

table tr.oddrow {
    background-color: #F5FAFA;
}

table tr.evenrow {
    background-color: #FFFFFF;
}

#map {
  width: 368px;
  height: 400px;
}

.glyphicon-home {
  margin-left: 0;
  margin-right: 10px;
  float: left;
}

.container-fluid {
  padding-right: -5px;
}

.glyphicon-star {
  float: inherit;
}


.navbar {
  margin-bottom: 0px !important;
}

.homepage{
  background: url(orange_flower.jpg) no-repeat bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 250px;
  padding-bottom: 100px;
}

.homepage_buttons {
  text-align: center;
  padding-top: 50px;
}

#findButton {
  text-align: center; 
  margin-top: 20px;
}

.navbar-brand {
  width:100%;
  text-align: center;
  }

.navbar-text {
  font-size: 12px;
  margin-top: 0;
}  

#logo {
  font-family: "gitchgitch";
  font-size: 24px
}
.navbar-default {
  min-width: 148px;
}

.btn-default {
  min-width: 182px;
}

.showone {
  min-height: 40px;
}
