<!-- Want to modify the menu? http://getbootstrap.com/components/#navbar -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-brand"><span class="glyphicon glyphicon-home"></span>BeautyScanner</div>
  </div>
</nav>
