<!-- Want to modify the menu? http://getbootstrap.com/components/#navbar -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a href="/"><span class="glyphicon glyphicon-home"></span>
      <span id="logo">BeautyScanner</span></a>
    </div>
  </div>
</nav>
