<!-- Want to modify the menu? http://getbootstrap.com/components/#navbar -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-brand">
      <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "or login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
      </p>
      <a href="/"><span class="glyphicon glyphicon-home"></span>
      <span id="logo">BeautyScanner</span></a>
    </div>
  </div>
</nav>
